{
    "root": true,
    "ignorePatterns": [
        "node_modules",
        "wwwroot",
        "*.js",
        "*.ts"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "unused-imports"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "unused-imports/no-unused-imports": "error",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/prefer-namespace-keyword": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/ban-types": "off",
        "no-prototype-builtins": "off",
        "no-self-assign": "off",
        "no-unexpected-multiline": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "no-mixed-spaces-and-tabs": "off",
        "@typescript-eslint/no-misused-new": "off",
        "no-extra-boolean-cast": "off",
        "no-sparse-arrays": "off",
        "@typescript-eslint/no-var-requires": "off",
        "no-fallthrough": "off",
        "prefer-spread": "off",
        "use-isnan": "off",
        "no-empty": "off",
        "no-cond-assign": "off",
        "prefer-rest-params": "off",
        "no-inner-declarations": "off",
        "no-case-declarations": "off",
        "no-useless-escape": "off",
        "no-async-promise-executor": "off",
        "no-control-regex": "off",
        "@typescript-eslint/no-unnecessary-type-constraint": "off",
        "no-unsafe-optional-chaining": "off"
    }
}